.body {
  background-color: #2c2b28 !important;
  color: azure !important;
}
.code {
  background-color: #808080 !important;
  color: azure !important;
}
.text {
  color: azure !important;
}
.navbar {
  background-color: #808080 !important;
}
.company {
  background-color: #2c2b28 !important;
}
.title {
  color: #487284 !important;
}
